.altura-a-b{
    padding: 100px 0;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}
.logo{
    width: 100px;
    padding: 10px 0;
}
.icon-redes{
    width: 20px;
    margin: 10px 5px;
    
}
body{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
footer{
    background-color: whitesmoke;
    padding: 100px 0;
    text-align: center;
}
footer .logo-footer{
    width: 200px;
    margin-bottom: 20px;

}
footer p{
    font-size: 12px;
}
